/bin
/controllers/author.controller.js
/controllers/author.controller.js.map
/controllers/book.controller.js
/controllers/book.controller.js.map
/controllers/home.controller.js
/controllers/home.controller.js.map
/controllers/user.controller.js
/controllers/user.controller.js.map
/controllers/user-books.controller.js
/controllers/user-books.controller.js.map
/models/author.js
/models/author.js.map
/models/book.js
/models/book.js.map
/models/user.js
/models/user.js.map
/models/user-book.js
/models/user-book.js.map
/node_modules

/obj
/routes/authorRouter.js
/routes/authorRouter.js.map
/routes/bookRouter.js
/routes/bookRouter.js.map
/routes/homeRouter.js
/routes/homeRouter.js.map
/routes/userBooksRouter.js
/routes/userBooksRouter.js.map
/routes/userRouter.js
/routes/userRouter.js.map
db.js
db.js.map
library-typescript.njsproj
library-typescript.njsproj.user
server.js
server.js.map
