<!DOCTYPE html>
<html>
<head>
	<title>Главная</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<style type="text/css">
		.container {
			text-align: center;
			margin-top: 30px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Библиотека</h1>
		<a href="/books/book-list" class="btn btn-primary">Список книг</a><br /><br />
		<a href="/authors/author-list" class="btn btn-primary">Список авторов</a><br /><br />
		<a href="/users/user-list" class="btn btn-primary">Список пользователей</a>
	</div>
</body>
</html>